
/*html {
  margin-left: 12.25%;
  margin-right: 12.25%;
}*/

/*html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}*/

/*iframe {
  allowfullscreen: false;
  loading: eager;
  color: #ffffff;

}*/

*:focus {
  box-shadow: 4px 4px 4px;
}

.skip a{
background: #f8f8f8;
left: 0;
padding: 7px;
-webkit-transition: top 1s ease-out;
transition: top 1s ease-out;
z-index: 1;

/*Your code here*/
position: absolute;
top: -50px;
}

.skip a:focus{
top: 10px;
}

/*CHANGE FONT SIZE BELOW TO EM AND MEDIA*/
.right {
  font-size: 1.68vw;

  font-family: roundRohan;
  font-weight: bold;
  text-decoration: none;
  color: #48494B;
}

nav {
padding-top: 3%;
padding-bottom: 3%;
padding-left: 12.25%;
}

nav ul li {
display: inline;
text-decoration: none;
padding-left: 1%;
padding-right: 1%;
}


footer {
margin-bottom: 5%;
text-align: center;
margin-top: 16.5%;
}

footer ul {
margin: 0 auto;
margin-left: 43.5%;
}

footer ul li {
text-decoration: none;
display: inline;
padding: 30px;
} 

footer ul li a img {
width: 40px;
}

footer ul li a:hover {
/*  padding-bottom: 5px;
*/}

.transparent {
  background:none transparent;
}

@font-face {
  font-family: roundRohan;
  src: url("assets/RoundRohan-Regular.otf") format("opentype");
}

.wave {
animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
animation-duration: 2.5s;        /* Change to speed up or slow down */
animation-iteration-count: infinite;  /* Never stop waving :) */
transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
display: inline-block;
font-size: 2rem;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

.paragraph {
margin-left: 13%;
margin-right: 13%;
/*margin-top: 30px;*/
margin-top: 100px;
font-family: roundRohan;
margin-bottom: 175px;
}

.yayaya {
margin-top: -2%;
margin-left: 11%;
margin-right: 11%;
display: grid;
column-gap: 10%;
row-gap: 5.75%;
grid-template-columns: 1fr 1fr;
}

.item1a {
grid-row: 1/1;
grid-column: 1/1;
}

.item1b {
grid-row: 2/2;
grid-column: 1/1;
}

.item1c {
grid-row: 3/3;
grid-column: 1/1;
}

.item2a {
grid-row: 1/1;
grid-column: 2/2;
}

.item2b {
grid-row: 2/2;
grid-column: 2/2;
}

.item2c {
grid-row: 3/3;
grid-column: 2/2;
}



p.light {
font-weight: lighter;
/*font-size: 10px;*/
font-size: 1rem;
color: #73808D;
margin-top: -8px;  
margin-bottom: 40px;
}

/* LEARN Z INDEX */
/* .yayaya img{
transition-duration: .5s;
transition-timing-function: linear;
transition-delay: .5s;
} */

/*.yayaya img::hover {
  overflow: hidden;
  visibility: hidden;
}*/


.wave2 {
animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
animation-duration: 2.5s;        /* Change to speed up or slow down */
animation-iteration-count: infinite;  /* Never stop waving :) */
transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
display: inline-block;
font-size: 2rem;
margin-top: 60px;
}


p.thick5{
font-size: 3.6vw;
margin-bottom: 125px;
font-weight: 550;
line-height: large;
font-family: roundRohan;
letter-spacing: 4px;
font-weight: 200px;
}

/* NAVBAR */
#last {
padding-right: 29%;
font-weight: bold;
color: #000000;
text-decoration: none;
font-size: 3.35vw;

font-family: roundRohan;
  -webkit-transition: -webkit-transform 1s ease-in-out;
        transition:         transform 1s ease-in-out;
}

#last:hover {
  -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}

/*CHANGE ALL FONTS BELOW TO JUST EM AND RESPONSIVENESS*/
.navbar-nav a{
  font-size: 1.5rem;
  font-family: roundRohan;
  font-weight: bold;
}

#blue:hover, #blue:focus {
color: #0072b1 !important;
font-size: 1.6rem;
}

#pink:hover, #pink:focus {
color: #ea4c89 !important;
font-size: 1.6rem;
}

#res:hover, #res:focus {
font-size: 1.6rem;
}

#git:hover, #git:focus {
font-size: 1.6rem;
}

/*IMPLEMENT GRID FORMAT BELOW... AND MAYBE FOR THE ORIGINAL ITSELF*/
@media screen and (max-width: 720px) {
.yayaya {
  grid-template-columns: 100%;
}
footer ul {
  margin-left: 35%;
}
.item1a {
  grid-row: 1/1;
}

.item1b {
  grid-row: 3/3;
}

.item1c {
  grid-row: 5/5;
}

.item2a {
  grid-row: 2/2;
  grid-column: 1/1;
}

.item2b {
  grid-row: 4/4;
  grid-column: 1/1;
}

.item2c {
  grid-row: 6/6;
  grid-column: 1/1;
}
footer {
  margin-top: 125%;
}
}



/*WOAH WOAH WOAH JOHN CENA*/

/*to make click-mosaic thing
input[type="checkbox"] {
  content: url('images/black.cat');
  display: block;
  width: 200px;
  height: 200px;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked {
  content: url('images/white.cat');
}
https://stackoverflow.com/questions/6813699/how-to-change-an-image-on-click-using-css-alone/17795397#17795397*/
